body {
    font-family: 'Roboto', sans-serif;
    height: 5000px;
    overflow-x: hidden;
    background-color: #0E1141;
}

.navbar-brand {
    font-size: 30px;
}

.navbar {
    width: 100%;
    padding: 60px 4%;
    top: 0;
    left: 0;
    transition: .5s;
}

.navbar ul a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    margin: 0 40px;
    cursor: pointer;
}

.banner {
    height: 100vh;
    background-image: url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.banner h1 {
    font-size: 4em;
}

.navbar.rolagem {
    background-color: #fff;
    padding: 20px 4%;
}

.navbar.rolagem a, .navbar.rolagem i {
    color: #a22df0;
}

.rolagem {
    background-color: #fff;
    padding: 20px 4%;
}

.btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    background-color: #a22df0;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover {
    background-color: #681d9a ;
}

/* About Area */

#about-area {
    margin-top: 40px;
}

#about-area h2{
    color: #fff;
    text-align: center;
}

#about-area h3{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

#about-area .card {
    margin-top: 40px;
    color: #fff;
    background: rgb(24,19,115);
    background: linear-gradient(90deg, rgba(24,19,115,1) 0%, rgba(5,5,139,1) 50%, rgba(112,23,171,1) 100%);
}